@{
    ViewData["Title"] = "Home Page";
    var message = TempData["login"] as string;

}
<h3 class="alert-danger">@ViewData["login"]</h3>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@TempData["Success"]</p>
    <p>@TempData["Error"]</p>
    <p>@ViewData["login"]</p>
</div>

