@{
    ViewData["Title"] = "Home Page";
    var message = TempData["login"] as string;

}

@{
    ViewBag.Title = "Home Page";
}

@if (TempData["WelcomeMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["WelcomeMessage"]
    </div>
}



<div class="text-center">
    <p>@TempData["Success"]</p>
    <p>@TempData["Error"]</p>
    <p>@ViewData["login"]</p>
</div>

