﻿
<!DOCTYPE HTML>
<html>
<head>
	<title>Login</title>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link href="~/css/site.css"></link>
	<meta name="keywords" content="Login">
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<style>
		.tw {
			color: white;
		}
	</style>
	<!-- Stylesheets -->
	<link href="css/style.css" rel='stylesheet' type='text/css' />
	<link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i" rel="stylesheet">
</head>

<body>
	<div>
		@RenderBody()
	</div>


	<script src='js/particles.min.js'></script>
	<script src="js/index.js"></script>
	<!-- //scripts required for particle effect -->
</body>

</html>